<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hamburger.png" alt="">
  </div>
  <div class="headings">
    <h2>ADMINISTRATOR</h2>
    <h3>Page for administrator only!</h3>
    <a href="/admin_restorani" class="btn">RESTORANI</a>
    <a href="/admin_dodaj_restoran" class="btn">DODAJ RESTORAN</a>
  </div>
</header>


<%- include('partials/footer'); -%>