<%- include('partials/header'); -%>

<form method="POST">
  <h2>Dodaj administratora za ovaj restoran</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <label for="password1">Password again</label>
  <input type="password" name="password1" required />
  <button>DODAJ</button>
</form>

<%- include('partials/footer'); -%>
