<%- include('partials/header'); -%>

<form method="POST">
  <h2>Dodaj dostavljaca</h2>
  <label for="email">Email dostavljaca</label>
  <input type="text" name="email" />
  <label for="password">Password</label>
  <input type="password" name="password" />
  <label for="password1">Ponovo password</label>
  <input type="password" name="password1" />
  <button>DODAJ DOSTAVLJACA</button>
</form>

<%- include('partials/footer'); -%>
