<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hamburger.png" alt="">
  </div>
  <div class="headings">
    <h2>ADMINISTRATOR RESTORANA</h2>
    <a href="/ar_restoran" class="btn">RESTAURANT</a>
    <a href="/ar_meni" class="btn">MENI</a>
    <a href="/ar_narudzbe" class="btn">NARUDZBE</a>
    <a href="/ar_zavrsene_narudzbe" class="btn">ZAVRŠENE NARUDZBE</a>
  </div>
</header>


<%- include('partials/footer'); -%>