<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hamburger.png" alt="">
  </div>
  <div class="headings">
    <h2>DOSTAVLJAC PAGE</h2>
    <h3>Page for administrator only!</h3>
    <a href="/dos_narudzbe" class="btn">NARUDZBE</a>
    <a href="/dos_zavrsene_narudzbe" class="btn">ZAVRSENE NARUDZBE</a>
  </div>
</header>


<%- include('partials/footer'); -%>