<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/error.png" alt="">
  </div>
  <div class="headings">
    <h2>Pogresan email ili password!</h2>
    <h3>Pokusajte ponovo</h3>
    <a href="/" class="btn">POCETNA</a>
  </div>
</header>


<%- include('partials/footer'); -%>