<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hamburger.png" alt="">
  </div>
  <div class="headings">
    <h2>RESTAURANTS PAGE</h2>
    <h3>Order something to eat!</h3>
    <h3>Log into our page!</h3>
  </div>
</header>


<%- include('partials/footer'); -%>