<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/hamburger.png" alt="">
  </div>
  <div class="headings">
    <h2>KORISNIK PAGE</h2>
    <h3>Page for users only!</h3>
    <a href="/kor_restorani" class="btn">RESTORANI</a>
    <a href="/kor_narudzbe" class="btn">NARUDZBE</a>
  </div>
</header>


<%- include('partials/footer'); -%>